name: Run Tests

on:
  pull_request:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt
          pip install pytest
          pip install httpx

      - name: actions-setup-redis
        uses: shogo82148/actions-setup-redis@v1.35.1

      - name: Setup PostgreSQL
        uses: Daniel-Marynicz/postgresql-action@1.0.0
        with:
          postgresql_version: 14
          postgresql_db: testdb
          postgresql_user: testuser
          postgresql_password: testpassword

      - name: Setup Database Tables
        run: |
          python backend/src/database/test_data.py
        env:
          B4B_DB_HOST: localhost
          B4B_DB_PORT: 5432
          B4B_DB_USER: testuser
          B4B_DB_PASSWORD: testpassword
          B4B_DB_NAME: testdb

      - name: Run Tests
        run: |
          uvicorn main:app --reload --app-dir backend/src & 
          sleep 5
          cd backend/src
          pytest *
        env:
          B4B_DB_HOST: localhost
          B4B_DB_PORT: 5432
          B4B_DB_USER: testuser
          B4B_DB_PASSWORD: testpassword
          B4B_DB_NAME: testdb
